<div class="container-fluid">
    <div>
    <section class="card m-3 p-3">
        <div class="header">
            <h6 class="d-inline-block underline">Resignation</h6>

        </div>
        <div>
            <div class="row pl-4 pr-4 pt-2 pb-2">
                <div class="col-md-6 position-relative">
                    <i class="fa fa-pencil position-absolute z-tr5" data-toggle="modal" data-target="#edit-res"></i>
                    <section class="row border p-2 mr-0 mx-auto mb-2">
                        <div class="col-2 prf-img-div p-0 pr-1">
                            <img src="../.././assets/images/dummyprofile.jpeg" class="img-prf pull-right">
                        </div>
                        <div class="col-10  p-0">
                            <p class="m-0 font-size-14 text-bld">Praneeth K</p>
                            <p class="fnt-sze-role m-0 font-size-14">Employee ID:18115</p>
                            <span class="badge badge-pill badge-danger pl-1 badge-text"><i
                                    class="fa fa-times-circle mr-1"></i>Rejected</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Regnition Type</p>
                            <span class="font-size-14">Terminated</span>
                            <p class="m-0 font-size-14 text-bld">Leaving On</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Submitted Date</p>
                            <span class="font-size-14">21 Jan 2020</span>
                            <p class="m-0 font-size-14 text-bld">Final Settlement</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 position-relative">
                    <i class="fa fa-pencil position-absolute z-tr5" data-toggle="modal" data-target="#edit-res"></i>
                    <section class="row border p-2 mr-0 mx-auto mb-2">
                        <div class="col-2 prf-img-div p-0 pr-1">
                            <img src="../.././assets/images/dummyprofile.jpeg" class="img-prf pull-right">
                        </div>
                        <div class="col-10  p-0">
                            <p class="m-0 font-size-14 text-bld">Razak</p>
                            <p class="fnt-sze-role m-0 font-size-14">Employee ID:19115</p>
                            <span class="badge badge-pill badge-success pl-1 badge-text"><i
                                    class="fa fa-check-circle mr-1"></i>Approved</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Regnition Type</p>
                            <span class="font-size-14">Terminated</span>
                            <p class="m-0 font-size-14 text-bld">Leaving On</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Submitted Date</p>
                            <span class="font-size-14">21 Jan 2020</span>
                            <p class="m-0 font-size-14 text-bld">Final Settlement</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 position-relative">
                    <i class="fa fa-pencil position-absolute z-tr5" data-toggle="modal" data-target="#edit-res"></i>
                    <section class="row border p-2 mr-0 mx-auto mb-2">
                        <div class="col-2 prf-img-div p-0 pr-1">
                            <img src="../.././assets/images/dummyprofile.jpeg" class="img-prf pull-right">
                        </div>
                        <div class="col-10  p-0">
                            <p class="m-0 font-size-14 text-bld">Hemanth Reddy CR</p>
                            <p class="fnt-sze-role m-0 font-size-14">Employee ID:18115</p>
                            <span class="badge badge-pill badge-danger pl-1 badge-text"><i
                                    class="fa fa-times-circle mr-1"></i>Rejected</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Regnition Type</p>
                            <span class="font-size-14">Terminated</span>
                            <p class="m-0 font-size-14 text-bld">Leaving On</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Submitted Date</p>
                            <span class="font-size-14">21 Jan 2020</span>
                            <p class="m-0 font-size-14 text-bld">Final Settlement</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 position-relative">
                    <i class="fa fa-pencil position-absolute z-tr5" data-toggle="modal" data-target="#edit-res"></i>
                    <section class="row border p-2 mr-0 mx-auto mb-2">
                        <div class="col-2 prf-img-div p-0 pr-1">
                            <img src="../.././assets/images/dummyprofile.jpeg" class="img-prf pull-right">
                        </div>
                        <div class="col-10  p-0">
                            <p class="m-0 font-size-14 text-bld">Dinesh P.D</p>
                            <p class="fnt-sze-role m-0 font-size-14">Employee ID:19115</p>
                            <span class="badge badge-pill badge-success pl-1 badge-text"><i
                                    class="fa fa-check-circle mr-1"></i>Approved</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Regnition Type</p>
                            <span class="font-size-14">Terminated</span>
                            <p class="m-0 font-size-14 text-bld">Leaving On</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 font-size-14 text-bld">Submitted Date</p>
                            <span class="font-size-14">21 Jan 2020</span>
                            <p class="m-0 font-size-14 text-bld">Final Settlement</p>
                            <span class="font-size-14">21 Jan 2020</span>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </section>

</div>
<div class="modal" id="edit-res">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Add Project Details</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-12">
                    <form>


                        <div class="float_label">
                            <div class="row">

                                <div class="col-md-6 form-group float_label">
                                    <label for="type">Resignation Type*</label>
                                    <select class="form-control" id="type">
                                        <option>Absconded</option>
                                        <option>Resigned</option>
                                        <option>Terminated</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group float_label">
                                    <input type="date" class="form-control" id="applied" name="pname"
                                        placeholder="&nbsp;">
                                    <label for="applied"> Applied Date*</label>
                                </div>
                                <div class="col-md-6 form-group float_label">
                                    <input type="date" class="form-control" id="leaving" name="start"
                                        placeholder="&nbsp;">
                                    <label for="leaving">Leaving Date*</label>

                                </div>
                                <div class="col-md-6 form-group float_label">
                                    <input type="date" class="form-control" id="settlement" name="end"
                                        placeholder="&nbsp;">
                                    <label for="settlement">Settlement Date *</label>

                                </div>
                                <div class="col-md-6 form-group float_label">
                                    <label for="status">Status*</label>
                                    <select class="form-control" id="status">
                                        <option>Applied</option>
                                        <option>Approved</option>
                                        <option>Resigned</option>
                                        <option>Decline</option>
                                    </select>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn_secondary pull-right">Submit</button>
                            </div>
                            <div class="col-6">
                                <button class="next btn btn_secondary " type="button" data-dismiss="modal">Cancel</button>
                            </div>


                        </div>



                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>