<div class="basic_info">
    <section class="p-5">
        <div class="row">
            <div class="card">
                <section class="padding_top_heading">
                    <div class="d-inline-block heading_underline">
                        <h4>Personal Info</h4>
                    </div>
                    <div class="d-inline-block pull-right p-t-10">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </section>
                <div class="pl-5">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Full Name :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Employee Id :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">DOB :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Gender :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Role :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Business Email :</p>
                            <p>praneeth</p>
                        </div>
                        <div class="col-md-6">
                            <p class="m-b-0 crd-hdng-fonts">Title :</p>
                            <p>praneeth</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card ml-5">
                <h1>Tailored Jeans</h1>
                <p class="price">$19.99</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
    </section>
</div>