<div>
    <section class="pl-3 pr-3">
        <div class="d-inline-block">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
            </div>
        </div>
        <div class="d-inline-block pull-right">
            <button type="button" class="btn btn-secondary" >Add Employee</button>
        </div>
    </section>
    <section class="pl-3 pr-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Employee ID</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of duplicateData | paginate: { itemsPerPage: 3, currentPage: p }"
                                (click)="moveToinfo()">
                                <td>{{c.profile}}</td>
                                <td>{{c.name}}</td>
                                <td>{{c.employee_id}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.mobile}}</td>
                                <td>{{c.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="p = $event" class="mr-3"></pagination-controls>
            </div>


        </div>

    </section>
</div>
<router-outlet></router-outlet>