<div class="container-fluid">
    <div class="grants m-3">
    <section class="card p-3">
        <div class="header">
            <h6 class="d-inline-block underline">Leave Grants</h6>
            <p>This application will be submitted to RADHIKA CHALLA</p>
        </div>
        <div class="row pl-3">
            <div class="col-md-7 card">
                <div class="p-3 row">
                    <div id="datepicker" class="col-md-6 form-group float_label input-group date"
                        data-date-format="mm-dd-yyyy">
                        <input class="form-control d-inline" placeholder="&nbsp;" type="text" readonly />
                        <label for="from">From *</label>
                        <!-- <input class="form-control" type="text" readonly /> -->
                        
                        <span class="input-group-addon">
                            <i class="fa fa-times" *ngIf="false"></i>
                        </span>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="Session">Session *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="to">To *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="Session">Session *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="cc">CC *</label>
                    </div>
                    <div class="col-md-12 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="reason">Reason *</label>
                    </div>


                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary">Action</button>
                            <button type="button"
                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row pb-3">
                    <div class="mx-auto col-md-3 offset-md-4">
                        <button type="button" class="btn btn_secondary btn-block">Apply</button>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
</div>