<div class="container-fluid">
    <div class="card m-3 p-3">
        <div class="header">
            <h4 class="d-inline-block underline">Leave Summary</h4>
        </div>
        <section class="reg-lvs mt-3">
            <h5>Regular Leaves</h5>
            <div class="row">
                <div class="col-md-3 casual">
                    <div class="card pl-2 pt-1">
                        <span class="lv-typ-status">Casual Leave</span>

                        <div class="text-center">
                            <span class="d-block count pt-2">02</span>
                            <span class="d-block lv-typ-status pb-2">available</span>
                            <span class="d-block apl-now pb-2">Apply Now</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sick">
                    <div class="card pl-2 pt-1">
                        <span class="lv-typ-status">Sick Leave</span>
                        <div class="text-center">
                            <span class="d-block count pt-2">02</span>
                            <span class="d-block lv-typ-status pb-2">available</span>
                            <span class="d-block apl-now pb-2">Apply Now</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 los-of-pay">
                    <div class="card pl-2 pt-1">
                        <span class="lv-typ-status">Loss of Pay - March 2020</span>
                        <div class="text-center">
                            <span class="d-block count pt-2">02</span>
                            <span class="d-block lv-typ-status pb-2">available</span>
                            <span class="d-block apl-now pb-2">Apply Now</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 spl">
                    <div class="card pl-3 pt-1 pr-3">
                        <span class="lv-typ-status">Special Leaves</span>
                        <div class="bdr-btm p-2">
                            <span>Comp Off</span><span class="pull-right">0.00</span>
                        </div>
                        <div class="bdr-btm p-2">
                            <span>Maternity</span><span class="pull-right">0.00</span>
                        </div>
                        <span class="d-block apl-now mx-auto p-10">Apply Now</span>
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="upcmg-hldys mt-3">
            <h5>Upcoming Holidays</h5>
            <div class="row hldys ml-1 mr-1">
                <div class="col-md-2">
                    <div class="text-center">
                        <span class="d-block pt-2">Gandhi Jayanthi</span>
                        <span class="d-block count">02</span>
                        <span class="d-block pb-2">October</span>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <span class="d-block pt-2">Children's Day</span>
                        <span class="d-block count">02</span>
                        <span class="d-block pb-2">Novenmber</span>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <span class="d-block pt-2">ugadhi</span>
                        <span class="d-block count">02</span>
                        <span class="d-block pb-2">September</span>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <span class="d-block pt-2">Good Friday</span>
                        <span class="d-block count">02</span>
                        <span class="d-block pb-2">October</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <span class="d-block  pt-2">Good Friday</span>
                        <span class="d-block count ">19</span>
                        <span class="d-block pb-2">November</span>
                    </div>
                </div>

            </div>
        </section>-->

        <section class="rcnt-trncs mt-3">
            <h5>Leaves History</h5>
            <div class="tble-brdr">

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>TO</th>
                                <th>Type of Leave</th>

                                <th>Exception</th>
                                <th></th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>27 Dec 2019</td>
                                <td>28 Dec 2019</td>
                                <td>Casual Leave</td>

                                <td>Im leaving personal Emergency</td>
                                <td class="clr-blue">See More</td>
                                <td> <i class="fa fa-times fa-reject" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>27 Dec 2019</td>
                                <td>28 Dec 2019</td>
                                <td>Casual Leave</td>

                                <td>Im leaving personal Emergency</td>
                                <td class="clr-blue">See More</td>
                                <td><i class="fa fa-hourglass "></i></td>
                            </tr>
                            <tr>
                                <td>27 Dec 2019</td>
                                <td>28 Dec 2019</td>
                                <td>Casual Leave</td>

                                <td>Im leaving personal Emergency</td>
                                <td class="clr-blue">See More</td>
                                <td><i class="fa fa-check fa-success" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>27 Dec 2019</td>
                                <td>28 Dec 2019</td>
                                <td>Casual Leave</td>

                                <td>Im leaving personal Emergency</td>
                                <td class="clr-blue">See More</td>
                                <td><i class="fa fa-check fa-success" aria-hidden="true"></i></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</div>














