<!-- 
<li class="list-group-item" routerLink="basic-info" routerLinkActive="active"> <i class="fa fa-users pr-3" aria-hidden="true"></i> basic info</li>
 -->

<div class="info">
    <section class="pl-3 pr-3">
        <div class="col-md-2">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
            </div>
        </div>
    </section>
    <section class="pl-3 pr-3">
        <ul>
            <li routerLink="basic-info" routerLinkActive="active">basic info</li>
            <li  routerLink="education & experience" routerLinkActive="active">Education & Experience</li>
            <li routerLink="professional summary" routerLinkActive="active">Professional Summary</li>
            <li routerLink="kye" routerLinkActive="active">KYE</li>
            <li routerLink="project details" routerLinkActive="active">Project Details</li>
            <li routerLink="others" routerLinkActive="active">Others</li>
          </ul>
    </section>
</div>
<router-outlet></router-outlet>