@import "../../../../styles.scss";
.info {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e8f1;
    opacity: 1;
  }

  li {
      cursor: pointer;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #686868;
    opacity: 1;
    font-family: "Poppins", sans-serif;
  }

  li:hover,:focus{
    outline: none;
    border-bottom: 4px solid #1d62a7;
    color: #1d62a7;
  }
  li.active{
    outline: none;
    border-bottom: 4px solid #1d62a7;
    color: #1d62a7;
  }
}
