<div class="container-fluid">
    <div class="grants m-3">
    <section class="card p-3">
        <div class="header">
            <h4 class="d-inline-block underline">Leave Application</h4>
            <p>This application will be submitted to RADHIKA CHALLA</p>
        </div>
        <div class="row pl-3">
            <div class="col-md-8 card">
                <div class="p-3 row">
                    <div class="col-md-12 form-group float_label">
                        <!-- <input class="form-control" placeholder="&nbsp;">
                        <label for="from">Leave Type *</label> -->
                        <select required>
                            <option value="" disabled selected hidden>Leave Type *</option>
                            <option value="0">Open when powered (most valves do this)</option>
                            <option value="1">Closed when powered, auto-opens when power is cut</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <!-- <input class="form-control" placeholder="&nbsp;">-->
                        <input id="datepicker1" class="form-control" placeholder="&nbsp;"/>
                        <label for="from">From *</label>
                        
                    </div>

                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="Session">Session *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input id="datepicker2" class="form-control" placeholder="&nbsp;"/>
                        <label for="to">To *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="Session">Session *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="cc">CC *</label>
                    </div>
                    <div class="col-md-6 form-group float_label">
                        <input type="email" class="form-control" placeholder="&nbsp;">
                        <label for="reason">Reason *</label>
                    </div>


                    <div class="col-md-6">
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlFile1">Add attachment</label>
                            <input type="file" class="form-control-file border_line" id="exampleFormControlFile1">
                        </div>
                        <div class="col-md-4 mt-25">
                            <button type="button" class="btn btn_default btn-block">Upload</button>
                        </div>
                    </div>
                    </div>
                    <!-- <div class="col-md-12 form-group float_label">
                        <input type="file" class="form-control" placeholder="&nbsp;">
                        <label for="reason">Add attchement</label>
                    </div> -->
                 </div>
                
                <div class="row mt-3 mb-3">
                    <div class="mxmd--auto col-md-3 offset-md-4">
                        <button type="button" class="btn btn_secondary btn-block">Apply</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h6 class="d-inline-block underline">Regular Leaves</h6>
                <section class="reg-lvs mt-3">
                    <div class="row">
                        <div class="col-md-6 casual">
                            <div class="card pl-2 pt-1">
                                <span class="lv-typ-status">Casual Leave</span>

                                <div class="text-center">
                                    <span class="d-block count pt-2">02</span>


                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 sick">
                            <div class="card pl-2 pt-1">
                                <span class="lv-typ-status">Sick Leave</span>
                                <div class="text-center">
                                    <span class="d-block count pt-2">02</span>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 los-of-pay">
                            <div class="card pl-2 pt-1">
                                <span class="lv-typ-status">Loss of Pay - March 2020</span>
                                <div class="text-center">
                                    <span class="d-block count pt-2">02</span>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 spl">
                            <div class="card pl-3 pt-1 pr-3">

                                <div class="bdr-btm p-1">
                                    <span class="lv-typ-status">Comp Off</span><span class="pull-right">0.00</span>
                                </div>
                                <div class="bdr-btm p-1">
                                    <span class="lv-typ-status">Maternity</span> <span class="pull-right">0.00</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>
                <div class="card p-3 ovf">
                    <h6 class="d-inline-block underline">Upcoming Events</h6>
                    <ul class="list-inline">
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 Mar 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">25 Mar 2020</p>
                            <h6>Ugadhi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">1 May 2020</p>
                            <h6>Labour Day</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                        <li class="underline">
                            <p class="d-block lv-typ-status">9 May 2020</p>
                            <h6>Holi</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</div>