<div class="container-fluid">
    <div class="p-3">
    <section class="bank">
        <div class="card">
            <section class="p-3">
                    <h4 class="d-inline-block underline">Bank Info</h4>
            </section>
            
                <div class="row pl-3">
                    <div class="col-md-2">
                        <p class="heading">Bank Name</p>
                        <p class="small_hdng">HDFC Bank PVT LTD</p>
                    </div>
                    <div class="col-md-2">
                        <p class="heading">Account Number</p>
                        <p class="small_hdng">9876-6543-3210-10</p>
                    </div>
                    <div class="col-md-2">
                        <p class="heading">IFSC Code</p>
                        <p class="small_hdng">HDFC0003240</p>
                    </div>
                    <div class="col-md-2">
                        <p class="heading">Branch</p>
                        <p class="small_hdng">razak</p>
                    </div>
                    <div class="col-md-2">
                        <p class="heading">Status</p>
                        <p class="small_hdng">razak</p>
                    </div>
                </div>
        </div>
    </section>

    <section class="kye pt-3">
        <div class="card">
            <section class="p-3">
                    <h4 class="d-inline-block underline">KYE</h4>
            </section>
            <div class="row p-3">

                <div class="col-md-4">
                    <p class="font-weight-bold">Passport</p>
                    <div class="view view-first">
                        <img
                            src="https://static1.squarespace.com/static/5aea79c52487fde9b8efd0b1/t/5bb6b38ce5e5f09147c1b8ab/1538700172787/empire-state.png" />
                        <div class="mask">
                            <a href="#" class="info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                            <a href="#" class="info"><i class="fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold">Pan Card</p>
                    <div class="view view-first">
                        <img
                            src="https://static1.squarespace.com/static/5aea79c52487fde9b8efd0b1/t/5bb6b38ce5e5f09147c1b8ab/1538700172787/empire-state.png" />
                        <div class="mask">
                            <a href="#" class="info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                            <a href="#" class="info"><i class="fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bold">Aadhar Card</p>
                    <div class="view view-first">
                        <img
                            src="https://static1.squarespace.com/static/5aea79c52487fde9b8efd0b1/t/5bb6b38ce5e5f09147c1b8ab/1538700172787/empire-state.png" />
                        <div class="mask">
                            <a href="#" class="info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                            <a href="#" class="info"><i class="fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>