<div class="container-fluid masters">
  
    <section class="pl-3 pr-3">
        <div class="d-inline-block col-md-3">
            <div class="form-group has-search">
                <i class="fa fa-search form-control-feedback"></i>
                <input type="text" class="form-control border-0" placeholder="Search">
            </div>
        </div>
        <div class="d-inline-block pull-right">
            <button type="button" class="btn btn_secondary" (click)="updateCard=true;save=true;update=false;"><i class="fa fa-plus"
                aria-hidden="true"></i> Add Employee Status</button>
        </div>
    </section>

    <section class="pl-3 pr-3 edit-save-div" *ngIf="updateCard">
        <div class="card">
            <div class="card-body p-3">

                <div class="row">
                    <div class="col-md-4">
                       
                            <input type="text" class="form-control" placeholder="Enter Employee Status">
                           
                    </div>
                    <div class="col-md-2" *ngIf="save">
                        <button type="button" class="btn btn_secondary btn-block">Save</button>
                    </div>
                    <div class="col-md-2" *ngIf="update">
                        <button type="button" class="btn btn_secondary btn-block">update</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn_secondary btn-block" (click)="mainCard()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="pl-3 pr-3" >
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Employee Status</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Bench</td>
                                
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td><i class="fa fa-pencil" (click)="edit();update=true;save=false;" aria-hidden="true"></i>
                                </td>
                              
                            </tr>
                            <!-- <tr>
                                <td>2</td>
                                <td>1001</td>
                                <td>active</td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1002</td>
                                <td>active</td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="p = $event" class="mr-3"></pagination-controls>
            </div>


        </div>

    </section>



</div>